@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.accountDetails {
  @include flex-center;
  text-align: center;

  h1 {
    font-size: $font-size-md;
    font-family: $font-title;
    margin: 3rem;
  }

  .card {
    @include flex-even;
    animation: float 15s linear infinite alternate both;
    justify-content: center;
    background-image: $bg-paper-horizontal;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50rem;
    height: 35rem;

    p {
      font-size: $font-size-sm;
    }
    button {
      @include btn-shadow;
      font-size: $font-size-xs;
      margin: 2rem;
      color: rgb(87, 7, 7);
    }
  }
}
