@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.notFound {
  @include center-fixed;

  .bgImage {
    background-image: url("./assets/xxs.png");
    background-size: contain;
    background-position: center;
    animation: animate 0.5s both linear;

    text-align: center;
    color: white;
    h2 {
      font-family: "Rochester";
      font-size: $font-size-md;
      margin: 2rem;
    }
    p {
      font-size: $font-size-sm;
    }

    button {
      @include btn-green;
      margin: 2rem;
    }
  }
}

@keyframes animate {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 200%;
  }
}
