@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.notFound {
  @include center-fixed;
  @include flex-even;

  height: 80vh;
  width: 50vw;
  background-image: url("./assets/blob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: animate 0.6s both linear;

  text-align: center;
  color: white;

  h2 {
    font-family: "Rochester";
    font-size: $font-size-md;
    margin: 2rem;
  }
  p {
    font-size: $font-size-sm;
  }

  button {
    @include btn-green;
    margin: 3rem;
  }
}

@keyframes animate {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}
