@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.myBadges {
  @include center-fixed;
  text-align: center;
  .greeting {
    font-size: $font-size-md;
    font-family: "Rochester";
  }
  p {
    font-size: $font-size-sm;
  }

  .allBadges {
    // border: 2px dotted red;
    display: flex;
    flex-direction: row;
    .oneBadge {
      background-image: url("../../assets/images/paper.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      width: 20rem;
      height: 25rem;
      margin: 1rem;
      //   border: 2px solid lime;
      .type {
        // background-color: yellow;
        font-family: "Rochester";
        font-size: $font-size-md;
        padding: 0.2rem;
      }
      .score {
        background-color: rgba(255, 192, 203, 0.644);
        font-size: $font-size-xs;
      }
      .date {
        background-color: rgba(173, 216, 230, 0.61);
        font-size: $font-size-xs;
      }

      button {
        @include btn-green;
        font-size: $font-size-xs;
        margin: 1rem;
      }
    }
  }
}
