@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin title-light-md {
  font-family: $font-title;
  color: $light-txt;
  font-size: $font-size-md;
}
