@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin bg-img {
  background-position: center;
  background-size: cover;
  background-image: $bg-map;
  height: 100vh;
}
