$primary: #0a5f6e;
$secondary: rgba(64, 175, 170, 0.445);
$light-bg: #f3ecdebb;
$light-txt: #fff8eb;
$dark: rgb(48, 48, 48);

$font-size-xs: 1.6rem;
$font-size-sm: 2rem;
$font-size-md: 4.2rem;
$font-size-lg: 18rem;

$font-main: "SeoulHangang";
$font-title: "Rochester";

$bg-button: url("../../assets/images/d-green-btn.jpg");
