@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.forget-reset-password {
  @include bg-img-paper;
  background-size: 110%;
  text-align: center;
  height: 48rem;
  border-radius: 50px;
  min-width: 60rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @include flex-center;

  h1 {
    font-size: $font-size-md;
    font-family: $font-title;
    margin-bottom: 4rem;
  }
  label {
    font-size: $font-size-sm;
    font-family: $font-main;
  }

  input {
    @include input-login;
    flex: 1 1 0%;
    margin: 1rem;
    width: 32rem;
    font-size: $font-size-xs;
  }
  button {
    @include btn-green;
    margin-top: 1rem;
  }

  p {
    font-size: $font-size-sm;
    margin: 0.5rem 0 2.5rem 0;
  }
}
