.home {
  height: 100vh;
  width: 100vw;
  @include bg-img;
  .start {
    @include center-fixed;
    @include flex-center;

    .greeting {
      font-family: $font-title;
      font-size: $font-size-md;
      margin-bottom: 2rem;
      text-align: center;
    }

    .inkBlot {
      background-image: url("../../assets/images/blob_2.png");
      background-position: center;
      background-size: cover;
      height: 40rem;
      width: 30rem;
    }
    button {
      @include btn-green;
    }
  }
}

.story-overlay {
  @include center-fixed;
}

.closeModal {
  @include btn-modal;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
