@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.landing {
  .modalButton {
    @include btn-green;
    background-image: url(../../assets/images/d-blue-btn.jpg);

    z-index: 30;
    position: fixed;
    top: 3rem;
    right: 3rem;
  }

  .landingContent {
    width: 40%;
    @include center-fixed;
    text-align: center;
    font-size: $font-size-sm;
    line-height: 5rem;

    .title {
      font-family: "Rochester";
      font-size: $font-size-md;
      margin: 2rem;
    }

    button {
      @include btn-green;
      margin: 3rem;
    }
  }
}

.modalContent {
  background-image: url("../../assets/images/paper-horizontal.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  .closeModal {
    @include btn-green;
    position: relative;
    right: -80%;
    margin-top: 5rem;
    margin-right: 20rem;
  }
}
