@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.landing {
  .modalButton {
    @include btn-shadow;
    color: $primary;
    font-size: $font-size-sm;
    position: fixed;
    top: 3rem;
    right: 5rem;
    padding: 2rem;
  }

  .landingContent {
    width: 40%;
    @include center-fixed;
    text-align: center;
    font-size: $font-size-sm;
    line-height: 5rem;

    .title {
      font-family: $font-title;
      font-size: $font-size-md;
      margin: 2rem;
    }

    button {
      @include btn-green;
      margin: 2rem;
    }
  }
}

.modalContent {
  background-image: $bg-paper-horizontal;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
