@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.hallOfFame {
  @include flex-center;
  font-size: $font-size-sm;
  text-align: center;

  h1 {
    font-family: $font-title;
    font-size: $font-size-md;
    margin: 1rem;
  }

  .podium {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .medal {
      @include bg-img-paper;
      width: 30rem;
      height: 40rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;

      h2 {
        background-image: url("../../assets/images/rosette.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 15rem;
        background-position: center;
        margin: 2rem;
        animation: rosette 3s linear infinite both alternate-reverse;
        padding: 3rem;
        filter: drop-shadow(16px 16px 20px rgb(177, 152, 152));
        font-family: $font-title;
      }

      .name {
        font-family: $font-title;
        font-size: $font-size-md;
        margin: 1rem;
      }

      .card {
        margin-top: 2rem;
      }

      &:nth-child(2) {
        height: 45rem;
        width: 35rem;

        h2 {
          height: 20rem;
          padding: 3rem;
          font-size: 4rem;
        }
      }
    }
  }
}
