.contentContainer {
  @include center-fixed;
  padding: 3rem;
  h2 {
    font-family: "Rochester";
    font-size: $font-size-md;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0 auto;
    font-size: $font-size-sm;
  }

  button {
    @include btn-green;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .imagesContainer {
    display: flex;
    justify-content: center;

    img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      margin: 1rem;
    }
  }
}
