@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.sidebar {
  @include bg-img-paper;
  position: fixed;
  background-size: cover;
  background-position: 0%;
  margin-top: 10rem;
  right: 0;
  padding-top: 6rem;
  padding-left: 2rem;
  opacity: 95%;
  height: 75%;
  width: 17%;
  z-index: 20;
  transform: translateX(0%);
  transition: 0.5s;
}
.hideSidebar {
  transform: translateX(100%);
  transition: 0.5s;
}

.nav {
  ul {
    padding: 7rem;
    li {
      font-size: $font-size-sm;
      color: $dark;
      padding: 1.5rem;
      &:hover {
        font-weight: 700;
      }

      &:nth-last-child(2) {
        margin-top: 5rem;
      }
    }
  }

  .logoutBtn {
    @include btn-green;
    font-size: $font-size-xs;
  }

  @media screen and (max-width: $tablet) {
    ul {
      padding: 3rem;
      li {
        font-size: $font-size-xs;
        &:nth-last-child(2) {
          margin-top: 3rem;
        }
      }
    }
  }
}

.menuBtn {
  z-index: 30;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 5rem;
  width: 15rem;
  border-radius: 50px;

  @media screen and (max-width: $tablet) {
    top: 1rem;
    right: 2rem;
    width: 9rem;
  }
}
