@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.bgSidebar {
  position: fixed;
  margin-top: 10rem;
  right: 0;
  padding-top: 6rem;
  padding-left: 2rem;
  background-image: url(./images/shabby-2.png);
  background-size: cover;
  opacity: 90%;
  height: 80%;
  width: 20%;
}

.nav {
  ul {
    padding: 7rem;
    li {
      font-size: $font-size-sm;
      color: $dark;
      padding: 1.5rem;
    }
  }
}

.menuBtn {
  z-index: 30;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 5rem;
  width: 15rem;
  border-radius: 50px;
}
